{% extends 'layout/base.html.twig' %}

{% block title %}{{ 'MacDac Pizza' }}{% endblock %}

{% block body %}
    <div class="album">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <span class="image">
                            <img src="{{ asset('image/pizza.png') }}" title="{{ 'MacDac Pizza' }}" alt=""{{ 'MacDac Pizza' }}>
                        </span>

                        <div class="card-body">
                            <h5 class="card-title">{{ 'MacDac Pizza' }}</h5>

                            <div class="input-group mt-3">
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                                <button class="btn btn-outline-danger" type="button">&#10005;</button>
                            </div>

                            <button type="submit" class="btn btn-primary w-100 mt-3">{{ 'Add to card' }}</button>
                        </div>

                        <div class="card-footer text-center">
                            <span class="price">9.99EUR</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
