{% extends 'layout/base.html.twig' %}

{% block title %}{{ pizza.name }}{% endblock %}

{% block body %}
    <div class="album product">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <span class="image">
                            <img src="{{ asset('image/pizza.png') }}" title="{{ pizza.name }}" alt=""{{ pizza.name }}>
                        </span>

                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.name }}</h5>

                            <div id="pizza-ingredients">
                                {% for ingredient in pizza.ingredientList %}
                                    {% include 'pizza/partial/ingredient.html.twig' with {ingredient: ingredient} %}
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                <select class="form-select"
                                        aria-label="{{ 'Ingredient' }}"
                                        data-controller="add-ingredient"
                                        data-action="change->add-ingredient#onSelect"
                                >
                                    <option data-add-ingredient-target="field" selected>{{ 'Select Ingredient' }}</option>
                                    {% for ingredient in ingredients %}
                                        <option data-add-ingredient-target="field"
                                                data-url="{{ path('api.v1.pizza.ingredient.add', {
                                                    pizzaUuid: pizza.uuid,
                                                    ingredientUuid: ingredient.uuid
                                                }) }}"
                                        >
                                            {{ ingredient.name }} - ({{ ingredient.price }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="button" class="btn-add">{{ 'Add to card' }}</button>


                            <div class="row">
                                <div class="col-6">
                                    <a href="{{ path('pizza.reset') }}" class="btn-reset">{{ 'Reset' }}</a>
                                </div>

                                <div class="col-6">
                                    <a href="{{ path('pizza.album') }}" class="btn-back">{{ 'Back' }}</a>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-center">
                            <span class="price">
                                <span id="price">{{ pizza.price }}</span>
                                <span class="price-help" title="{{ "The price of a pizza equals the total of all its ingredients plus %s%% of the total for the preparation."|format(50) }}">&#9432;</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
